/* Основные стили */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
}

.header .logo {
    display: inline-block;
}

.nav ul {
    list-style-type: none;
}

.nav ul li {
    display: inline;
    margin-right: 15px;
}

.nav a {
    color: white;
    text-decoration: none;
}


/* Стили для секции hero */

.hero {
    background-image: url('../img/hero.jpg');
    /* Замените на ваш путь к изображению */
    height: 300px;
    /* Высота секции */
    color: white;
    /* Цвет текста */
    display: flex;
    /* Используем flexbox для центрирования */
    align-items: center;
    /* Вертикальное центрирование */
    justify-content: center;
    /* Горизонтальное центрирование */
}


/* Стили для секций features и subscribe */

.features,
.subscribe {
    padding: 20px;
    /* Отступы вокруг секций */
}

.feature-item {
    margin-bottom: 20px;
    /* Отступ между элементами особенностей */
}


/* Стили для footer */

.footer {
    background-color: #333;
    /* Цвет фона */
    color: white;
    /* Цвет текста */
    text-align: center;
    /* Центрируем текст */
}

@media (min-width: 768px) and (max-width: 1024px) {
    .header {
        text-align: center;
        /* Центрируем заголовок на планшете */
    }
    .nav ul li {
        margin-right: 10px;
        /* Уменьшаем отступы между элементами навигации */
        display: inline-block;
        /* Делаем элементы навигации блочными для лучшего отображения */
    }
    .hero {
        height: 400px;
        /* Увеличиваем высоту блока hero для планшетов */
        font-size: 1.5em;
        /* Увеличиваем размер шрифта на планшетах */
    }
}

@media (max-width: 767px) {
    .header {
        text-align: center;
        /* Центрируем заголовок на мобильных устройствах */
        padding: 20px;
        /* Увеличиваем отступы вокруг заголовка */
    }
    .nav ul li {
        display: block;
        /* Переключаем элементы навигации на блочный вид для мобильных устройств */
        margin-bottom: 10px;
        /* Отступ между элементами навигации на мобильных устройствах */
    }
    .hero {
        height: 250px;
        /* Уменьшаем высоту блока hero для мобильных устройств */
        font-size: 1.2em;
        /* Уменьшаем размер шрифта на мобильных устройствах */
        padding-top: 50px;
        /* Добавляем отступ сверху для текста в hero блоке */
    }
}

.nav a:hover,
.subscribe button:hover {
    background-color: #555;
    /* Изменяем цвет фона при наведении на ссылки и кнопки */
    color: white;
    /* Изменяем цвет текста при наведении на ссылки и кнопки */
}

.feature-item {
    margin-bottom: 20px;
    /* Отступ между элементами */
}

.feature-image {
    max-width: 100%;
    /* Ограничиваем ширину изображения */
    height: auto;
    /* Автоматическая высота для сохранения пропорций */
    border-radius: 8px;
    /* Закругляем углы изображений */
}